
<form asp-controller="product" asp-action="Search" method="get">
	<input type="text" dirname="searchP" placeholder="Search..." value="" />
	<buttontype =" class=btn btn-md btn-primary">Search</buttontype>
</form>
