
<form asp-controller="Products" asp-action="Search" method="get">
    <input type="text" name="searchP" placeholder="Search..."/>
    <button type="submit" class="btn btn-md btn-primary">Search</button>
</form>